.title-wrapper {
  padding: 1px;
  position: relative;
  box-sizing: border-box !important;
}

.title-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: box-shadow 0.5s ease;
  overflow: hidden;
  background-image: none;
  background: linear-gradient(
      217deg,
      rgba(51, 51, 51, 0.8),
      rgba(192, 192, 192, 0) 70.71%
    ),
    linear-gradient(
      180deg,
      rgba(51, 51, 51, 1),
      rgba(192, 192, 192, 0.7) 40.71%
    ),
    linear-gradient(
      336deg,
      rgba(51, 51, 51, 0.8),
      rgba(192, 192, 192, 0.2) 45.71%
    ),
    linear-gradient(
      18deg,
      rgba(51, 51, 51, 0.8),
      rgba(192, 192, 192, 0.7) 21.71%
    );
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.title-container {
  min-height: 150px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
  min-height: 40px;
  /* Add a subtle box shadow beneath the surface to create a sense of depth */
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 500px;
  position: relative;
  padding: 20px;
  position: relative;
  min-height: 10px;
}

@media (min-width: 300px) {
  .title-block {
    max-width: 900px;
    --tve-alignment: center;
    float: none;
    margin: 50px auto !important;
    --tve-applied-max-width: 900px !important;
  }
}

.description {
  margin: 20px;
}

.the-why-wrapper {
  padding: 60px 40px !important;
  position: relative;
  box-sizing: border-box !important;
  margin: 0;
}

.the-why-container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 24px;
  z-index: 1;
  min-height: 40px;
  max-width: 1081px;
}

.the-why-title {
  max-width: 70%;
  float: none;
  margin-bottom: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  --tve-applied-max-width: 70% !important;
  font-size: 28px;
}

.the-why-info {
  max-width: 70%;
  float: none;
  margin-bottom: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  --tve-applied-max-width: 70% !important;
}

.the-why-info-p {
  --g-regular-weight: 400;
  --g-bold-weight: 800;
  font-size: 18px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 24px;
  margin-bottom: 0px;
}

.the-why-wrapper ul {
  margin-left: 1.2rem;
}

.the-why-wrapper li {
  margin-left: 1.2rem;
  padding-bottom: 1rem;
}

.title {
  padding: 0 0 20px 0 !important;
  font-size: 47px !important;
  font-weight: 600;
  color: var(--white);
  text-shadow: -1px 2px 3px rgb(0 0 0);
}

.title-secondary {
  padding: 0 0 20px 0 !important;
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
  text-shadow: 0px 1px 3px rgb(255, 255, 255);
}

.electricblue {
  color: var(--electricblue);
  text-shadow: 0px 2px 3px rgb(0, 0, 0);
}

.get-started-button {
  font-weight: 600;
  font-style: normal;
  font-size: calc(0.2 * 1vw + 1rem);
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.6em;
  background-color: white;
  color: var(--electricblue);
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  white-space: nowrap;
}

.get-started-button:focus:not(:focus-visible) {
  outline: none;
}

.start-button-front {
  will-change: transform;
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  display: block;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 12px;
  font-size: 1.25rem;
  background: var(--electricblue);
  color: white;
  transform: translateY(-4px);
}

.get-started-button:hover .start-button-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.get-started-button:active .start-button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.description {
  text-align: center;
}

.info-wrapper {
  padding: 1px;
  position: relative;
  box-sizing: border-box !important;
  margin: 0;
}

.info-container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 24px;
  z-index: 1;
  min-height: 40px;
  max-width: 2200px;
  padding: 24px;
}

.info-title {
  margin: 20px;
}

.info-cards-grid {
  align-items: stretch;
  justify-content: center;
  margin-right: 15vw;
  margin-left: 15vw;
  margin-bottom: 2vw;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  min-height: 300px;
  height: 90%;
  margin: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: -2px 1px 10px 0px rgb(117, 117, 117);
  background-color: #fffdfa;
}

.info-card svg {
  filter: invert(59%) sepia(33%) saturate(564%) hue-rotate(147deg)
    brightness(91%) contrast(86%);
}

.info-card-title {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  white-space: pre-wrap;
}

.info-card-p {
  font-size: 18px;
  padding: 20px;
  white-space: pre-wrap;
}

.inst-background-div {
  overflow: hidden;
  background-color: var(--white);
  background-image: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
}

.instructions-wrapper {
  padding: 1px;
  position: relative;
  box-sizing: border-box !important;
  margin: 0;
}

.instructions-container {
  min-height: 150px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 24px;
  z-index: 1;
  min-height: 40px;
}

#step-1 {
  grid-area: step-1;
}
#step-2 {
  grid-area: step-2;
}
#step-3 {
  grid-area: step-3;
}

#card1 {
  grid-area: card1;
}
#card2 {
  grid-area: card2;
}
#card3 {
  grid-area: card3;
}
#card4 {
  grid-area: card4;
}
#card5 {
  grid-area: card5;
}
#card6 {
  grid-area: card6;
}
@media (min-width: 1401px) {
  .info-cards-grid {
    display: grid;
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6";
    gap: 0;
  }
}

@media (min-width: 1081px) {
  .instruction-card {
    max-width: 400px;
  }

  .instructions {
    display: grid;
    grid-template-areas: "step-1 step-2 step-3";
    gap: 0.5vw 1vw;
  }

  .pricing-card-grid {
    display: grid;
    grid-template-areas:
      "pcard1 pcard2 pcard3"
      "pcard4 pcard5 pcard6";
    gap: 0;
  }
}

@media (max-width: 1400px) {
  .info-cards-grid {
    display: grid;
    grid-template-areas:
      "card1 card2"
      "card3 card3"
      "card4 card5"
      "card6 card6";
    gap: 0;
    align-items: start;
    justify-content: center;
  }
}

@media (max-width: 1080px) {
  .title {
    font-size: 40px !important;
  }

  .instructions {
    display: grid;
    grid-template-areas:
      "step-1 step-2"
      "step-3 step-3";
    gap: 0.5vw 1vw;
    align-items: start;
    justify-content: center;
  }

  .pricing-card-grid {
    display: grid;
    grid-template-areas:
      "pcard1 pcard2"
      "pcard3 pcard4"
      "pcard5 pcard6";
    gap: 0;
    align-items: start;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 30px !important;
  }

  .instructions {
    display: grid;
    grid-template-areas:
      "step-1"
      "step-2"
      "step-3";
    gap: 0.5vw 1vw;
    align-items: start;
    justify-content: center;
  }

  .info-cards-grid {
    display: grid;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
    gap: 0;
    align-items: start;
    justify-content: center;
  }

  .pricing-card-grid {
    display: grid;
    grid-template-areas:
      "pcard1"
      "pcard2"
      "pcard3"
      "pcard4"
      "pcard5"
      "pcard6";
    gap: 0;
    align-items: start;
    justify-content: center;
  }
}

.instructions {
  justify-content: center;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 2vw;
}

.instruction-card {
  min-width: 200px;
  min-height: 300px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: -1rem 0 3rem rgb(99, 99, 99);
  background-color: #fffdfa;
}

.instruction-card-title {
  width: fit-content;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  border-radius: 7.3px 0 7.3px 0;
  padding: 19px 27px;
  background-color: #559db3be;
}

.instruction-card-p {
  font-size: 18px;
  padding: 40px 20px 20px 20px;
}

.pricing-wrapper {
  padding: 1px;
  position: relative;
  box-sizing: border-box !important;
  margin: 0;
}

.pricing-background-div {
  overflow: hidden;
  background-color: var(--white);
  background-image: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0px -5px 10px rgb(0 0 0 / 50%);
}

.pricing-container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 24px;
  z-index: 1;
  min-height: 40px;
  max-width: 2200px;
  padding: 24px;
}

.pricing-card-grid {
  align-items: stretch;
  justify-content: center;
  margin-right: 16.5vw;
  margin-left: 16.5vw;
  margin-bottom: 2vw;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: -1rem 0 3rem rgb(99, 99, 99);
  background-color: #fffdfa;
}

.pricing-redirect-button {
  width: 66%;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
}

.redirect-button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: #559db3be;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirect-button svg {
  padding-top: 5px;
}

.pricing-title {
  text-align: center;
}

.pricing-desc {
  text-align: center;
}

.pricing-caveat-text {
  text-align: center;
  font-size: 12px;
}

.pricing-styled-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-break: break-word;
}

.call-to-action-wrapper {
  padding: 1px;
  position: relative;
  box-sizing: border-box !important;
  margin: 0;
}

.call-to-action-background-div {
  background-color: var(--electricblue);
  background-image: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0px -3px 10px rgb(0 0 0 / 50%);
}

.call-to-action {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-height: 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  margin: 24px;
}

.call-to-action-h1 {
  margin-bottom: 20px;
}

.call-to-action-button {
  min-width: 224px;
  max-width: 33%;
  height: 50px;
  font-weight: 600;
  font-style: normal;
  font-size: calc(0.2 * 1vw + 1rem);
  letter-spacing: 0em;
  text-transform: none;
  background-color: white;
  color: var(--electricblue);
  border: none;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  outline-offset: 4px;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-button svg {
  padding-top: 4px;
}

.text-center {
  text-align: center;
}

hr.solid {
  border-top: 3px solid #bbb;
  max-width: 300px;
  margin: auto;
  animation: 1s cubic-bezier(1, 1.61, 0.62, 0.02) 0s 1 fadeIn;
}

.photo-reel-h1 {
  height: 0;
  color: var(--main-blue);
  text-shadow: -0.4rem 0 1rem #000;
}

.photo-reel-h1:hover {
  text-shadow: none;
  color: var(--main-red);
  text-shadow: -0.4rem 0 1rem #000;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-40%);
    opacity: 0;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(40%);
    opacity: 0;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
